//// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
//@import "~@fortawesome/fontawesome-free/css/all.css";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome";


html ,
body {
    /* for sticky footer */
    height: 100%;
    font-size: 14px;
    color: #525252;
    // font-family: "lato-regular", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-family: NotoSansHans-Regular,AvenirNext-Regular,arial,Hiragino Sans GB,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
    background: #f0f2f5;
}
a:hover{
    text-decoration: none;
}
#app{
    min-height: 100%;
    position: relative;
    padding-bottom: 220px;
}
///* Sticky footer styles */
//html {
//    position: relative;
//    min-height: 100%;
//}

//body {
//    /* Margin bottom by footer height */
//    margin-bottom: 60px;
//    a:hover{
//        text-decoration: none;
//    }
//}

.footer {
    ul {
        padding: 0;
        list-style: none;
        text-align: center;
    }
    li{
        display: inline-block;
    }
    ul li a{
        margin: 0 5px;
        color: white;
    }
    margin-top: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 220px;
    background-color: #242a3a;
    color:#fff;

    .container {

        padding-top: 25px;
        padding-bottom: 10px;

        p {
            margin: 19px 0;
            color:#fff
        }
        a {
            color:#fff;
        }
        .links  {
            text-align: center;
            padding: 0;
            a {
                font-size: 14px;
                color:#fff;
                padding: 0 25px;
                font-weight: 600;
                letter-spacing: .1rem;
            }
        }
    }
    .p-bottom{
        text-align: center;
        padding-top: 45px;
        padding-bottom: 10px;

        a{
            color: white;
        }
    }

}

.head_nav{
    background:#f8f9fa;
    h3{
        font-size: 32px;
    }
    h6{
        font-size: 19px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}


.navbar-static-top {
    border-color: #dcdfe6;
    background-color: #fff;
    //box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    border-top: 4px solid #409EFF;
    //border-bottom: 1px solid #e8e8e8;
    //margin-bottom: 40px;
    margin-top: 0px;
    .nav-search-box-input{
        border-radius:500rem;
        width:20%;
    }
    .nav-search {
        position:relative;
        left:-30px;
    }

    .nav-link{
        a{
            color:#1989fa;
        }
        a:hover{
            //color:#1989fa;
            opacity: 1;
        }
    }
}

.home-content {
    margin-bottom: 30px;
    margin-left:-15px;
    margin-right:-15px;

    .media{
        border-bottom: 1px solid rgba(34,36,38,.15);
        margin: 0;
        padding: 2em 0;
        img {
            width: 260px;
            border-radius: 5px;
        }
        .media-left{
            padding-right:10px;
        }
        .media-body {
            zoom: 1;
            overflow: hidden;
            .meta {
                margin:0.5em 0;
                font-size:1.4em;
                line-height:1em;
                color:#7f8c8d;
                .cinema{
                }
            }
            h6 {
                font-size:19px;
            }

            .media-heading {
                margin-top:0;
                margin-bottom:5px;
                a {
                    color:#34495e;
                    font-size:1.28571429em;
                    display:inline-block;
                    font-weight:400;
                }
            }
            .extra{
                a{
                    margin: 0 5px;
                }
                margin-top:15px;
                .label{
                    display: inline-block;
                    line-height: 1;
                    vertical-align: baseline;
                    background-color: #e8e8e8;
                    background-image: none;
                    padding: .5833em .833em;
                    color: rgba(0,0,0,.6);
                    text-transform: none;
                    border: 0 solid transparent;
                    border-radius: .28571429rem;
                    transition: background .1s ease;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                .btn-xs{
                    padding: 1px 5px;
                    font-size: 12px;
                    line-height: 1.5;
                    border-radius: 3px;
                }
                .info{
                    color: #95a5a6;
                    font-size: 1em;
                    a{
                        display: inline-block;
                        color: #18bc9c;
                    }
                    .pull-right{
                        float: right!important;
                    }
                    i {
                        margin-left: .4em;
                        margin-right: .4em;
                    }
                }
            }
        }
    }
    media a:hover{
        animation: 1.9s pulse;
    }
}


.popover {
    color: #fff;
    background: #1b1c1d;
    /*min-width: 320px;*/
}
.popover-title {
    display: none;
}
.popover-content {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.popover-content a {
    color: #23c6c8;
}
.clockpicker-popover .popover-content {
    font-size: 12px;
}
.clockpicker-popover {
    background: #fff;
}
.clockpicker-popover .popover-title {
    display: block;
}
.popover.fade > .arrow {
    color: #1b1c1d;
}
.popover.right > .arrow:after, .popover.right > .arrow {
    border-right-color: #1b1c1d;
}
.popover.top > .arrow:after, .popover.top > .arrow {
    border-top-color: #1b1c1d;
}
.popover.bottom > .arrow:after, .popover.bottom > .arrow {
    border-bottom-color: #1b1c1d;
}
.popover.left > .arrow:after, .popover.left > .arrow {
    border-left-color: #1b1c1d;
}
.popover.top {
    margin-top: -10px;
}


.panel-footer{
    text-align: center;
    border-top: none;

    .pagination {
        margin: 22px 0 16px;
        display: inline-block;
        padding-left: 0;
        border-radius: 4px;

        li {
            display: inline;
            a,span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.42857;
                color: #00b5ad;
                text-decoration: none;
                background-color: #fff;
            }
           .next{
                border-radius:  0 6px 6px 0 ;
            }
        .previous{
                 border-radius: 6px 0 0 6px;
              }
        }
        .active > a, .active > a:hover,  .active > a:focus, .active > span,  .active > span:hover, .active > span:focus {
            z-index: 3;
            color: #e4e4e4;
            border-color: #e4e4e4;
            background-color: transparent;
        }
    }
}

.article-content{
    margin-bottom: 30px;

    img {
        display:block;
        margin: 0 auto;
        width: 90%;
        //margin-top: 10px;
        border: 1px solid #ddd;
        -webkit-box-shadow: 0 0 30px #ccc;
        box-shadow: 0 0 30px #ccc;
        cursor: pointer;
        transition: all 0.6s;
        -ms-transition: all 0.8s;
    }

    img:hover{
        transform: scale(1.2);
        -ms-transform: scale(1.2);
    }
}
.markdown-body{
    margin: 15px;

}



#scrollUp {
    text-indent: -999999px;
    bottom: 20px;
    right: 20px;
    height: 38px;
    width: 38px;
    background-image: url("public/images/return.png");
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40%;
}

.dropdown-submenu:hover > .dropdown-menu, .dropdown-submenu:focus > .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
}



@media (max-width: 767px) {
    media-left {
        display: block;
        text-align: center;
        img {
            display: block;
            height: auto;
            border-radius: 5px;
            margin: 0 auto;
            max-width: 250px
        }
    }

   .media-body {
        padding: 1.5em 0 0;
    }
}
.blog-login {
    h3{
        margin-top: 20px;
        text-align: center;
    }
    .row{
        margin-top: 120px;
        .well{
            background-color: #fff;
            height: 400px;

            border-radius: 5px;
        }
        .strike{
            text-align: center;
            margin: 5px 0 5px 0;
        }
        .reset_pass{
            color: #0a1520;
        }
    }

}
.likes{
    width: 100%;

    font-size: 15px;
    padding: 5px;
    h2{
        margin-top: 5px;
        background-color: #fff;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        animation: .9s pulse;
    }
}

 .smart-green {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    h1 {
        font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
        padding: 20px 0px 20px 40px;
        display: block;
        margin: -30px -30px 10px -30px;
        color: #FFF;
        background: #409EFF;
        text-shadow: 1px 1px 1px #949494;
        border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        border-bottom: 1px solid #409EFF;
        span {
            display: block;
            font-size: 11px;
            color: #FFF;
        }
    }
label {
    display: block;
    margin: 0px 0px 5px;
    span {
        float: left;
        margin-top: 10px;
        color: #5E5E5E;
    }
}
input[type="text"], .smart-green input[type="email"], .smart-green textarea, .smart-green select {
    color: #555;
    height: 30px;
    line-height: 15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}
textarea{
    height: 100px;
    padding-top: 10px;
}
.button{
    background-color: #409EFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}
.button:hover{
    background-color: #409EFF;
}
.error-msg{
    color: red;
    margin-top: 10px;
}
.success-msg{
    color: #409EFF;
    margin-top: 10px;
    margin-bottom: 10px;
}
}
.block{
    display: none;
}

.add_likes{
    animation:1.2 pulse;
}




